{% load static %}
<nav class="navbar navbar-expand-lg py-4 bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'amapatec/img/Logo.png' %}" alt="Logo Amapatec" width="155" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav ">
          <!--<li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="/institucional" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Institucional
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/institucional">Sobre a Amapatec</a></li>
              <li><a class="dropdown-item" href="/institucional#diretoria">Diretoria e Conselho</a></li>
              <li><a class="dropdown-item" href="/institucional#equipe">Equipe</a></li>
            </ul>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Associados
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/associados">Startups Associadas</a></li>
              <li><a class="dropdown-item" href="/associe-se">Seja um associado</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu">
              {% comment %} <li><a class="dropdown-item" href="#">Notícias</a></li> {% endcomment %}
              <li><a class="dropdown-item" href="/agenda-de-eventos">Agenda de Eventos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/beneficios">Benefícios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          
        </ul>
        <ul class="navbar-nav flex-row">
          <li class="nav-item me-3">
            <!--<a class="btn btn-info px-3 py-2" href="#" style="border:none">Login</a>-->
          </li>
          <li class="nav-item">
            <a class="btn btn-dark px-3 py-2" href="/associe-se" id="mtc" style="border:none">Associe-se</a>
          </li>
        </ul>
      </div>
    </div>
</nav>