{% load static %}
<div class="mt-5 bg-dark">
    <div class="py-5 container-md">
        <div class="row">
            <div class="col-sm"><h1 class='lines-font text-light'>AGENDA DE EVENTOS</h1></div>
            <div class="col d-flex justify-content-sm-end align-items-center"><a href="#" class=" py-2 btn btn-outline-info fw-bold"><i class="fa fa-plus me-2 "></i> VER TODOS</a></div>
        </div>
        

        <div class="container-md d-flex flex-row mt-5">
            <div class="card text-center mx-4" style="width: 18rem;">
                <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}" class="card-img-top img-fluid" alt="..." style="height: 8rem">
                <div class="card-body">
                  <h5 class="card-title fw-bold bg-info py-3 rounded text-light">30 | Maio</h5>
                  <p class="card-text fw-bold mt-3">Meetup da Comunidade de Devs AMAPATEC </p>
                  <p class="card-text mb-4 text-muted"><span><i class="fa fa-map-marker me-2 "></i></span> Sebrae - Macapá(AP)</p>
                  <a href="#" class="btn btn-outline-info fw-bold py-2"><i class="fa fa-plus me-2 "></i>SAIBA MAIS</a>
                </div>
              </div>

              <div class="card text-center mx-4" style="width: 18rem;">
                <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}" class="card-img-top img-fluid" alt="..." style="height: 8rem">
                <div class="card-body">
                  <h5 class="card-title fw-bold bg-info py-3 rounded text-light">30 | Maio</h5>
                  <p class="card-text fw-bold mt-3">Meetup da Comunidade de Devs AMAPATEC </p>
                  <p class="card-text mb-4 text-muted"><span><i class="fa fa-map-marker me-2 "></i></span> Sebrae - Macapá(AP)</p>
                  <a href="#" class="btn btn-outline-info fw-bold py-2"><i class="fa fa-plus me-2 "></i>SAIBA MAIS</a>
                </div>
              </div>

              <div class="card text-center mx-4" style="width: 18rem;">
                <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}" class="card-img-top img-fluid" alt="..." style="height: 8rem">
                <div class="card-body">
                  <h5 class="card-title fw-bold bg-info py-3 rounded text-light">30 | Maio</h5>
                  <p class="card-text fw-bold mt-3">Meetup da Comunidade de Devs AMAPATEC </p>
                  <p class="card-text mb-4 text-muted"><span><i class="fa fa-map-marker me-2 "></i></span> Sebrae - Macapá(AP)</p>
                  <a href="#" class="btn btn-outline-info fw-bold py-2"><i class="fa fa-plus me-2 "></i>SAIBA MAIS</a>
                </div>
              </div>

              <div class="card text-center mx-4" style="width: 18rem;">
                <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}" class="card-img-top img-fluid" alt="..." style="height: 8rem">
                <div class="card-body">
                  <h5 class="card-title fw-bold bg-info py-3 rounded text-light">30 | Maio</h5>
                  <p class="card-text fw-bold mt-3">Meetup da Comunidade de Devs AMAPATEC </p>
                  <p class="card-text mb-4 text-muted"><span><i class="fa fa-map-marker me-2 "></i></span> Sebrae - Macapá(AP)</p>
                  <a href="#" class="btn btn-outline-info fw-bold"><i class="fa fa-plus me-2 "></i>SAIBA MAIS</a>
                </div>
              </div>
        </div>
    </div>
</div>