{% load static %}
{% include 'amapatec/partials/head.html' %}
<body>
    <div class="container-md">
        {% include 'amapatec/partials/navbar.html' %}
    </div>
    <div class="px-3 text-center text-light d-flex flex-column align-items-center" style="background-image: url('{% static 'amapatec/img/home.jpg' %}');background-size: cover; background-position: center; height: 100%;">
        <div class="space-top"></div>
        <div class="content-home">
            <h1 class="mb-4">TRANSFORME O MUNDO COM A INOVAÇÃO QUE VOCÊ CRIA</h1>
            <h3 class="mb-4">Associação Amapaense de Tecnologia</h3>
            <a href="/associe-se" class="fw-bold btn btn-info btn-associated mt-4" id="mtc">Quero me associar</a>
        </div>
        <div class="space-bottom"></div>
    </div>
    <!--<div class="container-md mt-5 mb-6">
        <div class="text-lines"><h1 class='lines-font me-4'>NOTÍCIAS</h1></div>
        <div id="NewsFilter" class="filterBar mt-3 mb-4">
            <button class="button active" onclick="filterSelection('destaques')"> Destaques</button>
            <button class="button" onclick="filterSelection('startups')"> Startups</button>
            <button class="button" onclick="filterSelection('eventos')"> Eventos</button>
        </div>
        <div class="row pt-4">
            <div class="col-sm">
                <div>
                    <img class="img-fluid rounded mb-3" src="{% static 'amapatec/img/placeholder-image1.jpg' %}" alt="Noticia Principal">
                    <span class="mt-3">20/04</span>
                    <h2 class="mt-3 fw-bold">Titulo da noticia</h2>
                    <p class="mt-2 fs-6 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col">
                <div class="feed">
                    <span>17/04</span>
                    <h5 class="fs-6 mt-2 fw-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                </div>
                <div class="feed">
                    <span>10/04</span>
                    <h5 class="fs-6 mt-2 fw-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                </div>
                <div class="feed">
                    <span>01/04</span>
                    <h5 class="fs-6 mt-2 fw-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                </div>
                
            </div>
        </div>
    </div>-->
    <!--<div class="container-md mt-5 mb-6">
        <div class="text-lines"><h1 class='lines-font me-4'>PROGRAMAS</h1></div>
        
    </div>-->
    
    {% include 'amapatec/pages/events-home.html' %}

    {% include 'amapatec/partials/parceiros.html' %}
    
    <div class="mb-6 mt-6"></div>
    {% include 'amapatec/partials/footer.html' %}
</body>