{% load static %}
{% include 'amapatec/partials/head.html' %}
<body>
    <div class="container-md">
        {% include 'amapatec/partials/navbar.html' %}
    </div>
    <div class="px-3 text-center text-light d-flex flex-column align-items-center" style="background-image: url('{% static 'amapatec/img/aboutimg.jpg' %}');background-size: cover; background-position: center; height: 100%;">
        <div class="mb-5 mt-5"></div>
        <div class="content-home text-center">
            <h1 class="mb-4 mt-4">SOBRE A AMAPATEC</h1>
        </div>
        <div class="mb-5 mt-5"></div>
    </div>
    <div class="bg-aptc">
        <div class="container-md">
            <nav class="navbar navbar-expand-lg py-4">
                <div class="container-fluid justify-content-center">
                    {% comment %} <a class="navbar-brand" href="#"></a> {% endcomment %}
                    <button class="navbar-toggler border-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="text-light py-2">Índice</span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                        <div class="navbar-nav text-uppercase text-center " >
                        <a class="px-4 nav-link border-end border-light active text-light" aria-current="page" href="#sobre-nos">sobre a amapatec</a>
                        <a class="px-4 nav-link border-end border-light text-light" href="#nossa-historia">História</a>
                        <a class="px-4 nav-link border-end border-light text-light" href="#diretoria">Diretoria e conselhos</a>
                        <a class="px-4 nav-link text-light" href="#equipe">Equipe</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-md mt-5 mb-6">
        <div class="text-lines" id="sobre-nos"><h1 class='lines-font me-4'>SOBRE NÓS</h1></div>
        <div class="row mt-3">
            <div class="col-md-8">
                <p class="fw-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <p class="fw-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        Why do we use it?
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="col">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="bg-body-tertiary py-3">
        <div class="container-md mt-5 mb-6">
            <div class="text-lines" id="nossa-historia"><h1 class='lines-font me-4'>NOSSA HISTÓRIA</h1></div>
            <div class="row mt-3">
                <div class="col-md-8">
                    <p class="fw-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
                        Why do we use it?
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        <p class="fw-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
                <div class="col">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container-md mt-5 mb-6">
        <div class="text-lines" id="diretoria"><h1 class='lines-font me-4'>DIRETORIA</h1></div>
        <div class="row mt-5 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card border-light mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}"
                                class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Presidente
                                </h5>
                                <p class="card-text text-muted">
                                    Nome Sobrenome
                                </p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}"
                                class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Vice-Presidente
                                </h5>
                                <p class="card-text text-muted">
                                    Nome Sobrenome
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}"
                                class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Cargo
                                </h5>
                                <p class="card-text text-muted">
                                    Nome Sobrenome
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light mb-3" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}"
                                class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Cargo
                                </h5>
                                <p class="card-text text-muted">
                                    Nome Sobrenome
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light mb-3" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                          <img src="{% static 'amapatec/img/placeholder-image-square.jpg' %}"
                            class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Cargo
                                </h5>
                                <p class="card-text text-muted">
                                    Nome Sobrenome
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-body-tertiary py-3">
        <div class="container-md mt-5 mb-6">
            <div class="text-lines" id="equipe"><h1 class='lines-font me-4'>EQUIPE</h1></div>
            <div class="row mt-3 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col mt-5">
                    <h5 class="card-title">
                        Diretor de Inovação
                    </h5>
                    <p class="card-text text-muted mt-3">
                        Nome Sobrenome<br>
                        <small class="text-dark">
                            contato@amapatec.com
                        </small>
                    </p>
                </div>
                <div class="col mt-5">
                    <h5 class="card-title">
                        Desenvolvimento
                    </h5>
                    <p class="card-text text-muted mt-3">
                        Nome Sobrenome<br>
                        <small class="text-dark">
                            contato@amapatec.com
                        </small>
                    </p>
                </div>
                
                </div>
        </div>
    </div>


    <div class="container-md mt-5 mb-6">
        <div class="text-lines" id="diretoria"><h1 class='lines-font me-4'>IDENTIDADE VISUAL</h1></div>
        <div class="row text-muted">
            <div class="col-sm d-flex flex-column mt-5">
                <p>Caso queira utilizar a marca em seu site ou evento, a AMAPATEC disponibiliza o manual de uso com todas as informações e recomendações quanto à sua aplicação. Qualquer dúvida, basta entrar em contato pelo e-mail contato@amapatec.com.</p>
                <p>CONFIRA OS ARQUIVOS DISPONÍVEIS PARA DOWNLOAD:</p>
                <div class="row">
                    <div class="col-3 d-flex justify-content-start">
                        <a href="" class="btn btn-aptc py-2 px-4">PDF</a>
                    </div>
                    <div class="col-3 d-flex justify-content-start">
                        <a href="" class="btn btn-aptc py-2 px-4">PNG</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'amapatec/img/book1.png' %}" alt="" class="img-fluid">
            </div>
        </div>
       
    </div>
    
    {% include 'amapatec/partials/footer.html' %}
</body>