{% load static %}
{% include 'amapatec/partials/head.html' %}
<body>
    <div class="container-md">
        {% include 'amapatec/partials/navbar.html' %}
    </div>
    <div class="px-3 mb-3 text-center text-light d-flex flex-column align-items-center bg-body-tertiary" >
        <div class=" mt-5"></div>
        <div class="content-home text-muted text-center">
            <h1 class="mb-4 mt-4">POLÍTICA DE PRIVACIDADE</h1>
        </div>
        <div class=" mt-5"></div>
    </div>
    

    <div class="container-md mt-5 mb-6 px-3">
        <div class="text-muted mt-3">
            <h3>1. Objetivo</h3>
            <p>
                A AMAPATEC está engajada com a conscientização dos usuários de seu site em relação aos dados pessoais eventualmente tratados.
    
                Comprometida em respeitar a sua privacidade e prezar pela transparência, elaboramos a presente política de privacidade, com o objetivo de proporcionar um claro entendimento sobre como é realizado o tratamento dos seus dados pessoais em nosso site.<br>
    
                Destaca-se que o presente instrumento informa sobre como é realizado o tratamento de dados pessoais coletados exclusivamente no site da AMAPATEC. As demais hipóteses de tratamento de dados de empresas associadas e seus colaboradores, fornecedores, colaboradores da entidade, menores de idade, dentre outros, estão na Política de Privacidade interna da AMAPATEC, a qual pode ser solicitada pelos titulares através do e-mail contato@amapatec.com.<br>
    
                Os dados pessoais serão tratados apenas enquanto forem necessários e adequados para as finalidades que embasam a coleta, sempre atentos às bases legais do tratamento.
    
                A AMAPATEC requer a todos os usuários de seu site que façam a leitura atenta deste documento antes de submeter seus dados nos formulários de cadastro. Seu cadastro significa que você compreendeu como coletamos e tratamos seus dados pessoais.<br>
    
                Para mais informações acerca do tratamento de seus dados pessoais, entre em contato através do e-mail contato@amapatec.com.
            </p>
        </div>
        <div class="text-muted mt-5">
            <h3>2. Definições</h3>
            <ul>
                <li><b>Titular:</b><p>pessoa natural a quem se referem os dados pessoais que são objeto de tratamento;</p></li>
                <li><b>Dado pessoal:</b><p>informação relacionada a pessoa natural identificada ou identificável, como, por exemplo, nome, e-mail, telefone, dentre outros;</p></li>
                <li><b>Dado, pessoal sensível:</b><p>dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;</p></li>
                <li><b>Tratamento:</b><p>toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração;</p></li>
                <li><b>Controlador:</b><p>pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais;
                </p></li>
                <li><b>Encarregado:</b><p>pessoa indicada pelo controlador e operador para atuar como canal de comunicação entre o controlador, os titulares dos dados e a Autoridade Nacional de Proteção de Dados (ANPD);</p></li>
                <li><b>Operador:</b><p>pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do controlador;</p></li>
                <li><b>Transferência internacional de dados:</b><p>transferência de dados pessoais para país estrangeiro ou organismo internacional do qual o país seja membro;</p></li>
                <li><b>Autoridade Nacional de Proteção de Dados (ANPD):</b><p>órgão da administração pública federal, integrante da Presidência da República, que possui, dentre outras funções previstas pela Lei n. 13.709/2018, a de zelar pela proteção dos dados pessoais, elaborar diretrizes para a Política Nacional de Proteção de Dados Pessoais e da Privacidade, fiscalizar e aplicar sanções em caso de tratamento de dados realizado em descumprimento à legislação, mediante processo administrativo que assegure o contraditório, a ampla defesa e o direito de recurso e promover na população o conhecimento das normas e das políticas públicas sobre proteção de dados pessoais e das medidas de segurança;</p></li>
                <li><b>Uso compartilhado de dados:</b><p> comunicação, difusão, transferência internacional, interconexão de dados pessoais ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no cumprimento de suas competências legais, ou entre esses e entes privados, reciprocamente, com autorização específica, para uma ou mais modalidades de tratamento permitidas por esses entes públicos, ou entre entes privados.</p></li>
            </ul>
        </div>
        <div class="text-muted mt-5">
            <h3>3. Princípios aplicáveis ao tratamento de dados realizado pela AMAPATEC</h3>
            <p>A AMAPATEC, no papel de Controladora, assegura o integral cumprimento do disposto pelo art. 6º, da Lei Geral de Proteção de Dados, o qual estipula os princípios que regem as operações de tratamento de dados pessoais, quais sejam:</p>
            <ul>
                <li><b>Finalidade:</b><p>realização do tratamento para propósitos legítimos, específicos, explícitos e informados ao titular, sem possibilidade de tratamento posterior de forma incompatível com essas finalidades;</p></li>
                <li><b>Adequação:</b><p>compatibilidade do tratamento com as finalidades informadas ao titular, de acordo com o contexto do tratamento;</p></li>
                <li><b>Necessidade:</b><p>limitação do tratamento ao mínimo necessário para a realização de suas finalidades, com abrangência dos dados pertinentes, proporcionais e não excessivos em relação às finalidades do tratamento de dados;</p></li>
                <li><b>Livre acesso:</b><p>garantia, aos titulares, de consulta facilitada e gratuita sobre a forma e a duração do tratamento, bem como sobre a integralidade de seus dados pessoais;</p></li>
                <li><b>Qualidade dos dados:</b><p>garantia, aos titulares, de exatidão, clareza, relevância e atualização dos dados, de acordo com a necessidade e para o cumprimento da finalidade de seu tratamento;</p></li>
                <li><b>Transparência:</b><p>garantia, aos titulares, de informações claras, precisas e facilmente acessíveis sobre a realização do tratamento e os respectivos agentes de tratamento, observados os segredos comercial e industrial;</p></li>
                <li><b>Segurança:</b><p>utilização de medidas técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou difusão;</p></li>
                <li><b>Prevenção:</b><p>adoção de medidas para prevenir a ocorrência de danos em virtude do tratamento de dados pessoais;</p></li>
                <li><b>Não discriminação:</b><p>impossibilidade de realização do tratamento para fins discriminatórios ilícitos ou abusivos;</p></li>
                <li><b>responsabilização e prestação de contas:</b><p>demonstração, pelo agente, da adoção de medidas eficazes e capazes de comprovar a observância e o cumprimento das normas de proteção de dados pessoais e, inclusive, da eficácia dessas medidas.</p></li>
            </ul>
        </div>
        <div class="text-muted mt-5">
            <h3>4. Hipóteses em que é permitido o tratamento de dados</h3>
            <p>A LGPD prevê, em seu art. 7º, as hipóteses em que o tratamento de dados pessoais é permitido. Estas hipóteses são denominadas “bases legais” e elas podem ser utilizadas tanto individualmente, quanto de maneira conjunta, para respaldar o tratamento de dados. Importante esclarecer que as bases legais para o tratamento de dados são:</p>
            <ul>
                <li><p>o consentimento;</p></li>
                <li><p>o cumprimento de obrigação legal ou regulatória pelo controlador;</p></li>
                <li><p>o tratamento e uso compartilhado de dados realizado pela administração pública necessários à execução de políticas públicas previstas em leis e regulamentos ou respaldadas em contratos, convênios ou instrumentos congêneres;</p></li>
                <li><p>a realização de estudos por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</p></li>
                <li><p>a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o titular, a pedido do titular dos dados;</p></li>
                <li><p>o exercício regular de direitos em processo judicial, administrativo ou arbitral;</p></li>
                <li><p>a proteção da vida ou da incolumidade física do titular ou de terceiro.</p></li>
            </ul>
        </div>
        <div class="text-muted mt-5">
            <h3>5. Dados coletados, a forma e a finalidade da coleta</h3>
            <h4>5.1 Dados pessoais</h4>
            <p>A AMAPATEC realizará o tratamento dos dados fornecidos diretamente por você através de formulários inseridos no site https://amapatec.com. Estes dados serão:</p>
            <ul>
                <li><p>nome;</p></li>
                <li><p>e-mail;</p></li>
                <li><p>telefone;</p></li>
                <li><p>CPF;</p></li>
                <li><p>empresa;</p></li>
                <li><p>cargo;</p></li>
                <li><p>cidade;</p></li>
                <li><p>estado;</p></li>
                <li><p>comprovante de residência (em anexo, apenas para alguns formulários)</p></li>
            </ul>
            <p>Estes dados serão coletados para cumprir as seguintes finalidades:</p>
            <ul>
                <li><p>Contatar o usuário do site por e-mail e/ou WhatsApp;</p></li>
                <li><p>Permitir o envio de comunicações e campanhas de marketing;</p></li>
                <li><p>Permitir a associação de empresas à AMAPATEC;</p></li>
                <li><p>Realizar pesquisa de satisfação e NPS.</p></li>
            </ul>
        </div>
        <div class="text-muted mt-5">
            <h3>6. Período de armazenamento dos dados pessoai</h3>
            <p>Os dados coletados no site da AMAPATEC serão armazenados: a) pelo tempo exigido por lei; b) até o término do tratamento dos dados pessoais, ou seja, quando do alcance da finalidade ou quando os dados deixarem de ser necessários ou pertinentes ao alcance da finalidade ou quando o titular estiver em seu direito de solicitar o término do tratamento e a exclusão de seus dados ou quando houver determinação legal nesse sentido; c) pelo tempo necessário a preservar o legítimo interesse da AMAPATEC, conforme o caso; d) pelo tempo necessário para resguardar o exercício regular de direitos da AMAPATEC.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>7. Controlador dos dados pessoais</h3>
            <p>A AMAPATEC, em regra, será a controladora de seus dados pessoais. Para a finalidade da legislação aplicável, controlador é a quem compete as decisões relativas ao tratamento de dados pessoais.

                <br>A AMAPATEC não atuará como controladora quando do tratamento de dados para disponibilização de benefícios para as empresas associadas e seus colaboradores.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>8. Encarregado dos dados pessoais</h3>
            <p>A AMAPATEC nomeia como encarregado o comitê gestor de proteção de dados pessoais que poderá ser contatado através do e-mail contato@amapatec.com.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>9. Compartilhamento dos seus dados pessoais</h3>
            <p>A AMAPATEC poderá, excepcionalmente, compartilhar os seus dados pessoais com provedores de softwares e outras tecnologias da informação para a finalidade de geração de cadastro e adoção de eventuais providências essenciais à operação das funcionalidades oferecidas no site destinadas à comunicação com o usuário e à aplicação de pesquisas de satisfação.

                Os dados poderão ser compartilhados, ainda, com as empresas dispostas na página de “Benefícios” para permitir que as empresas associadas realizem a adesão aos benefícios ofertados pela AMAPATEC. Não obstante, os dados de fornecedores da AMAPATEC que desejam aderir a benefícios poderão ser compartilhados com empresas parceiras.
                
                Ainda, os dados dos representantes de empresas poderão ser compartilhados com os Polos Regionais, que atuarão como cocontroladores de dados, a fim de permitir a associação de novas empresas à AMAPATEC.<br>
                
                Os dados de titulares que fazem o seu cadastro para participação em eventos poderão ser compartilhados com patrocinadores e parceiros.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>10. Direitos em relação aos seus dados pessoais</h3>
            <p>Você possui diversos direitos em relação aos seus dados pessoais, os quais a AMAPATEC se compromete em assegurar, dentre eles:</p>
            <ul>
                <li><p>a confirmação da existência de tratamento;</p></li>
                <li><p>o acesso aos dados;</p></li>
                <li><p>a correção de dados incompletos, inexatos ou desatualizados;</p></li>
                <li><p>a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade;</p></li>
                <li><p>a portabilidade a outro fornecedor de serviço ou produto, mediante requisição expressa;</p></li>
                <li><p>a informação das entidades públicas e privadas com as quais o controlador realizou o uso compartilhado de dados.</p></li>
            </ul>
        </div>
        <div class="text-muted mt-5">
            <h3>11. Armazenamento e segurança</h3>
            <p>A AMAPATEC está engajada com a segurança dos seus dados pessoais. Adotamos precauções para manter essa proteção, empregando sistemas de segurança e procedimentos adotados pelo mercado para proteger os seus dados.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>12. Responsabilidade e Sanções</h3>
            <p>Os agentes de tratamento possuem algumas responsabilidades em relação ao tratamento de dados pessoais. O controlador de dados, que neste caso é a AMAPATEC, garante o cumprimento dos deveres de:</p>
            <ul>
                <li><p>observar o enquadramento de ao menos uma das bases legais para cada tratamento de dados (arts. 7º e 11, da LGPD);</p></li>
                <li><p>acompanhar o ciclo de vida dos dados, sendo necessário descartar ou determinar o descarte quando do término do tratamento;</p></li>
                <li><p>indicar o encarregado pelos dados (arts. 5º, inciso VIII e 41, da LGPD);</p></li>
                <li><p>elaborar o relatório de impacto à proteção de dados pessoais (art. 5º, inciso XVII, da LGPD);</p></li>
                <li><p>suportar o ônus da prova sobre o consentimento do titular (art. 8º, §2º, da LGPD);</p></li>
                <li><p>cumprir os direitos dos titulares (art. 18, da LGPD), devendo, inclusive, garantir ao titular a transparência do tratamento;</p></li>
                <li><p>adotar medidas aptas a demonstrar a observância às normas de proteção de dados (art. 6º, inciso X, da LGPD);</p></li>
                <li><p>comunicar à ANDP e ao titular dos dados em caso de incidente que possa gerar risco ou dano relevante aos titulares (art. 48, caput, da LGPD).</p></li>
            </ul>
            <p>Já os operadores de dados possuem as seguintes responsabilidades:</p>
            <ul>
                <li><p>tratar dados pessoais, a pedido/em nome do controlador (art. 5º, inciso VII)), devendo seguir as orientações do mesmo;</p></li>
                <li><p>adotar medidas aptas a demonstrar a observância às normas de proteção de dados (art. 6º, inciso X, da LGPD);</p></li>
                <li><p>responder solidariamente pelos danos causados a terceiros, na hipótese de descumprimento das normas de proteção de dados ou não atendimento às instruções lícitas do controlador (art. 42, §1º, inciso I, da LGPD);</p></li>
                <li><p>prestar informações, quando solicitadas pela ANPD (art. 55-J, inciso IV, da LGPD);</p></li>
                <li><p>auxiliar o controlador, no que couber, no cumprimento de suas obrigações;</p></li>
                <li><p>prestar informações ao controlador quando solicitado.</p></li>
            </ul>
            <p>Os agentes de tratamento também serão obrigados a reparar danos causados e comprovados no exercício da atividade de tratamento de dados sempre que um incidente de segurança ocorrer e causar danos aos titulares dos dados envolvidos, salvo quando comprovarem não terem realizado o tratamento de dados, não terem violado a LGPD ou que o dano for decorrente de culpa exclusiva do titular dos dados.

                <br>Cumpre destacar, ainda, que a LGPD prevê algumas sanções (art. 52, LGPD) às infrações cometidas pelos agentes de tratamento</p>
            <p>Estas sanções não estão diretamente relacionadas a incidentes de vazamento de dados ou de segurança da informação, podendo ser aplicadas na ocorrência de qualquer infração aos regramentos previstos na LGPD, como o tratamento irregular dos dados. A Autoridade Nacional de Proteção de Dados é o órgão responsável pela fiscalização e aplicação das referidas sanções e poderá exigir a apresentação de relatórios e informações, como também aplicar eventuais penalidades.</p>
            
        </div>
        <div class="text-muted mt-5">
            <h3>13. Dúvidas | Contato</h3>
            <p>Caso você entenda que seus dados foram utilizados de maneira incompatível com esta Política ou com as suas escolhas enquanto titular, ou, ainda, se você tiver outras dúvidas, comentários ou sugestões, entre em contato conosco através do endereço de e-mail amapatec@contato.com.</p>
        </div>
        <div class="text-muted mt-5">
            <h3>14. Alterações</h3>
            <p>A AMAPATEC se reserva o direito de alterar esta Política de Privacidade a qualquer momento, mediante publicação da versão atualizada nesta página.

                A presente Política de Privacidade entra em vigor em 15 de maio de 2023.</p>
        </div>

    </div>
    
    {% include 'amapatec/partials/footer.html' %}
</body>